* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

body {
  background-color: #E6EAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1213px;
  padding: 100px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  display: inline-flex;
  padding: 100px;
  flex-direction: column;
  gap: 70px;
}

h1 {
  color: #151B32;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 24px;
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;


}

.search-box {
  display: flex;
  width: 327px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #BFC8E5;
}

.search-box input {
  outline: none;
  border: none;
  color: #151B32;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.search-box img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}


.filter-tabs {
  display: flex;
  gap: 10px;
}

.tab {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #151B32;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid transparent;
  background: white;
}

.tab:hover {
  background-color: #849FFF;
  color: white;
}


.user-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}

.user-card {
  display: flex;
  width: 327px;
  height: 208px;
  padding: 24px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background: #FBFCFF;
  border: 1px solid transparent;
}

.user-card:hover {

  border: 1px solid #BFC8E5;

  box-shadow: 0 8px 23px 0 rgba(218, 224, 249, 0.70);

}

.avatar {
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  border-radius: 97px;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.user-name {
  color: #151B32;
  font-family: Merriweather;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 4px;
}

.user-location {
  color: #151B32;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.tag {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #BFC8E5;
  background: #FFF;

  color: #516FD4;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}