* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

body {
  display: flex;
  width: 1600px;
  height: 1200px;
  padding: 210px 273px 211px 273px;
  justify-content: center;
  align-items: center;
  background: #F3F6FF;

}

.careers-section {
  width: 1054px;
  height: 779px;
  flex-shrink: 0;

  .title {
    text-align: center;
    color: #1E2246;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 72px;

  }

  .jobs-grid {
    display: flex;
    flex-wrap: wrap;

    gap: 32px;
    margin-bottom: 62px;


    .job-card {
      display: flex;
      width: 330px;
      padding: 48px 40px;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      border-radius: 16px;
      background: #FFF;
      box-shadow: 0 24px 44px 0 rgba(180, 191, 225, 0.40);
      cursor: pointer;

      .job-header {
        display: flex;
        align-items: center;
        gap: 16px;

        .icon-wrapper {
          display: flex;
          padding: 16px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 14px;
        }
      }

      .job-header .job-name {
        color: #1E2246;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .job-status {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;

        border-radius: 8px;
        border: 1px solid #C2C5E2;
        background: #FFF;
      }

      .job-status:hover {
        background-color: #1E2246;
        color: #ffffff;
        border-color: #C2C5E2;
      }
    }



    .icon-design {
      background: linear-gradient(131.94deg, #BBCBFB 5.22%, #F1D5FF 100.41%);
    }

    .icon-eng {
      background: linear-gradient(131.94deg, #FBBBDA 5.22%, #FFD5D5 100.41%);
    }

    .icon-ops {
      background: linear-gradient(131.94deg, #BBEBFB 5.22%, #EFD5FF 100.41%);

    }

    .icon-people {
      background: linear-gradient(131.94deg, #BBFBE4 5.22%, #D5E0FF 100.41%);
    }

    .icon-sales {
      background: linear-gradient(131.94deg, #BBD8FB 5.22%, #FFD5D5 100.41%);
    }

    .icon-uni {
      background: linear-gradient(131.94deg, #FFDEC7 5.22%, #D5D9FF 100.41%);
    }


  }

  .disclaimer-text {
    width: 845px;
    height: 72px;
    color: #1E2246;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
    margin: 0 100px;
  }
}